/* font-family: 'Monda',400,700 sans-serif;
font-family: 'Montserrat',400,500 sans-serif;
font-family: 'Montserrat Subrayada',400,700 sans-serif; */

/* colors here
    1 RGB 27, 60, 69 (white
    2 RGB 138, 8, 69 (white
    3 RGB 47, 156, 114 (darek gray, black
    4 RGB 232, 125, 26 (dark gray, black 
    5 RGB 39, 156, 41 (white
    */
body {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(27, 60, 69);
}

main , section, section * {
    box-sizing: border-box;
    /* border: 1px solid black; */
}

header, .headline-contacts, .bio-parag, .project-header, .project-info, .project-info section, .personal-header {
    text-align: center;
} 

.personal-header {
    align-self: stretch;
    width: 100%;
    display: block;
}

nav {
    /* position: sticky;
    top: 0;
    right: 0;
    left: 0; */
    height: 7%;
    width: 100%;
    background-color: RGB(138, 8, 69);
    /* color: whitesmoke; */

    display: flex;
    justify-content: flex-end;
}
nav *{
    color: whitesmoke;
    font-size: 16px;
}


.initials-logo-nav {
    margin-right: auto;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.bio-nav, .contact-nav, .projects-nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h2, p, .demo-link, .repo-link {
    font-family: 'Montserrat', sans-serif;
}

.demo-link, .repo-link {
    border: whitesmoke solid 1px;
    text-decoration: none;
    padding: 1px;
}

.page-links {
    /* width: 40%; */
    /* float: right; */
    top: 0;
    right: 0;
}

a {
    margin: auto 5px;
}

.headline-contacts div {
    width: 50%;
    margin: auto auto;
}


.headline-contacts img {
    height: 20%;
    width: 20%;
}

main {
    /* padding: 0 10%; */
    margin: 1% 0 auto;
}

header, header *{
    color: whitesmoke;
    font-family: 'Montserrat Subrayada', sans-serif;
}

header {
    height: 7%;
    width: auto;
}
.personal-info, .personal-info *{
    background-color: RGB(242, 252, 250);
    color: rgb(27, 60, 69);
}
.project-info, .project-info *{
    background-color: RGB(138, 8, 69);
    color: whitesmoke;
}
h1 {
    height: 10;
    width: 50%;
    margin: auto;
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.personal-info {
    /* height: auto; */
    display: block;
    width: 90%;
    height: 40%;
    margin: auto;
}

@media screen and (min-width: 750px) {
    .personal-info {
        /* display: grid;
        justify-content: center;
        grid-template-columns: 45% 45%;
        grid-template-rows: 10% 30% 30% 30%;
        grid-column-gap: 10%;
        /* grid-template-areas: 
        "header header"
        "headline bio"
        "headline bio"
        "headline bio"; */
        /* grid-auto-rows: 90%; */
        /* justify-content: space-between;
        align-items: flex-start; */

        height: 60vh;
        width: 90%;
        margin: auto
        }

    .personal-header {
        grid-column: 1 / 3;
        align-self: start;
        justify-self: center;
    }
    .headline-contacts {
        grid-row: 2 / -1;

    }
    .bio-parag {
        grid-row: 2 / -1;
        align-self: end;
    }

    .bio-parag p{
        font-size: 18px;
    }

    
}

@media screen and (min-width: 1000px) {
    /* .project-info{

    } */

    .project-flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }
}

.project-info section {
        margin: 0 5% 0;
    }

.headline-contacts {
    display: block;
    left: 10%;
    width: 100%;
    float: left;
}

.bio-parag {
    display: block;
    right: 10%;
    width: 100%;
    float: right;
}
.bio-parag p{
    text-align: left;
    margin: 1%;
    font-weight: 600;
}

.project-info {
    height: 55%;
    width: 100%;
    text-align: center;
}

.project-header {
    display: block;
    margin: auto;
    color: whitesmoke;
    text-align: center;    
}

.project-snapshot {
    border: whitesmoke 1px solid;
    width: 250px;
    height: 350px;
}
