body {
    margin: 12% 0 0 ;
}
main , section, section * {
    box-sizing: border-box;
    /* border: 1px solid black; */
}

header, .headline-contacts, .bio-parag, .project-info, .project-info section {
    text-align: center;
} 

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 7%;
    width: 100%;
    background-color: RGB(120, 125, 114);
    /* color: whitesmoke; */

    display: flex;
    justify-content: flex-end;
}
nav *{
    background-color: RGB(120, 125, 114);
    color: whitesmoke;
    border: 1px solid whitesmoke;
    font-size: 18px;
}


.initials-logo-nav {
    margin-right: auto;
}

.page-links {
    /* width: 40%; */
    /* float: right; */
    top: 0;
    right: 0;
}
a {
    borde: black solid 1px;
    margin: auto 5px;
    height: 100%;
}

.headline-contacts div {
    border: black solid 1px;
    width: 50%;
    margin: auto auto;
}

.headline-contacts img {
    height: 20%;
    width: 20%;
}

main {
    /* padding: 0 10%; */
    margin: 7% 0 auto;
}

header, header *{
    background-color: RGB(157, 163, 161);
    color: black;
}

header {
    height: 7%;
}
.personal-info, .personal-info *{
    background-color: RGB(242, 252, 250);
    color: black;
}
.project-info, .project-info *{
    background-color: RGB(57, 58, 69);
    color: whitesmoke;
}
h1 {
    height: 10;
    width: 50%;
    margin: auto;
    text-align: center;
}

.personal-info {
    /* height: auto; */
    display: block;
    width: 100%;
    height: 40%;
}

@media screen and (min-width: 750px) {
    .personal-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        height: 500px;
        width: 90%;
        margin: auto
        }

    .bio-parag {
        align-self: flex-end;
    }

    .project-info {
        display: ;
    }
}

@media screen and (min-width: 1000px) {
    .project-info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }
}



.headline-contacts {
    display: block;
    text
    left: 10%;
    width: 100%;
    float: left;
}

.bio-parag {
    display: block;
    right: 10%;
    width: 100%;
    float: right;
}
.bio-parag p{
    text-align: justify;
    margin: 5%;
}

.project-info {
    height: 55%;
    width: 100%;
    text-align: center;
}

.project-snapshot {
    border: whitesmoke 1px solid;
    width: 250px;
    height: 350px;
}

