* {
    box-sizing: border-box;
    border: 1px solid black;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 7%;
    width: 100%;
    background-color: RGB(120, 125, 114);
    /* color: whitesmoke; */
}
nav *{
    background-color: RGB(120, 125, 114);
    color: whitesmoke;
}
}
.initials-logo {
    width: 25%;
    float: left;
}
.page-links {
    width: 40%;
    float: right;
}
a {
    margin: auto 5px;
}

main {
    /* padding: 0 10%; */
    margin: 11% 0 0 auto;
}

header, header *{
    background-color: RGB(157, 163, 161);
    color: black;
}
.personal-info, .personal-info *{
    background-color: RGB(242, 252, 250);
    color: black;
}
.project-info *{
    background-color: RGB(57, 58, 69);
    color: whitesmoke;
}
h1 {
    height: 10;
    width: 50%;
    margin: auto;
    text-align: center;
}

.personal-info {
    /* height: auto; */
    display: block;
    /* position: relative */
    margin-top: 30px;
    margin-bottom: 30px;
}

.project-info {
    height: 55%;

}

.headline-contacts {
    display: block;
    left: 10%;
    width: 30%;
    float: left;
}

.bio-parag {
    display: block;
    right: 10%;
    width: 60%;
    float: right;
}